:root {
  --purple-1: #ead9ef;
  --purple-2: #0d0915;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  background-color: #0b0d13;
}

.container {
  padding-top: 8vi;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding-top: 3vi;
  align-items: center;
  display: flex;
  width: 90vw;
  height: 100vh;
}
